# Ignore the VS Code configuration folder
.vscode/

# Ignore all CSV data files
*.csv
*.png
*.jpeg
*.jpg
*.bmp
*.gif
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.tar.gz
*.7z
*.log
*.tmp
*.bak
*.cache
*.DS_Store
*.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.ipynb_checkpoints/    
*.rar
*.txt
*_Metrics.txt
*.out